

.Home {


  
 background-color: rgb(23,23,23); 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .MainContent {
    color: aliceblue;
    max-width: 40%;
    margin: 0 auto; 
    height: 100%;
    padding: 20px; 
    background-color: rgb(5,2,1); 
  }
  .tableContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
  }
  
  .header {
    font-weight: bold;
  }
  
  .description {
    padding-left: 10px; /* Adjust as needed */
  }
  .heading {
    font-size: 150%; /* Example font size */
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .footer p > * {
    margin-right: 10px;
  }
  

  /* Add media query for smaller screens */
  @media screen and (max-width: 768px) {
    .MainContent {
      /* Adjust maximum width for smaller screens */
      max-width: 90%;
    }
  }
  
  /* Add media query for even smaller screens */
  @media screen and (max-width: 576px) {
    .MainContent {
      /* Adjust maximum width for even smaller screens */
      max-width: 100%;
    }
  }
  